<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manifests</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>
  <script id="dataJson" type="application/json">
    {{json}}
  </script>
  <script src="detailed_diff.js"></script>
  <script src="index.js" defer></script>
</head>

<body>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">{{artifactId}}({{version}})</a>
    </div>
  </nav>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#home">Diff Summary</a></li>
        <li class="tab col s6"><a href="#diff">Detailed Diff</a></li>
      </ul>
    </div>
    <div id="home" class="col s12">
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m12">
              <input placeholder="Search based on commit, author, id , entries or ticket" id="search" type="text"
                autocomplete="off">
            </div>
            <div class="col s12 m12" id="viewResults">

              <ul class="collapsible" id="dynamicAccordion">

              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="diff" class="col s12">
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12">
              <form id="searchForm">
                <div class="input-field col s12">
                  <i class="material-icons prefix">insert_drive_file</i>
                  <input type="text" name="file" id="file-input" class="autocomplete" autocomplete="off">
                  <label for="file-input">File</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input type="text" name="author" id="author-input" class="autocomplete" autocomplete="off">
                  <label for="author-input">Author</label>
                </div>
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">settings_ethernet</i>
                      <input type="text" name="mavenVersionA" id="mva-input" class="autocomplete" autocomplete="off">
                      <label for="mva-input">Maven Version A</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">settings_ethernet</i>
                      <input type="text" name="mavenVersionB" id="mvb-input" class="autocomplete" autocomplete="off">
                      <label for="mvb-input">Maven Version B</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">settings_ethernet</i>
                      <input type="text" name="gitVersionA" id="gva-input" class="autocomplete" autocomplete="off">
                      <label for="gva-input">GIT Version A</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">settings_ethernet</i>
                      <input type="text" name="gitVersionB" id="gvb-input" class="autocomplete" autocomplete="off">
                      <label for="gvb-input">GIT Version B</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">settings_ethernet</i>
                      <input type="text" class="autocomplete" id="mvna-input" autocomplete="off">
                      <label for="mvna-input">Maven Version Name A</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">settings_ethernet</i>
                      <!-- name="mvnb-input" id="mvnb-input" -->
                      <input type="text" class="autocomplete" id="mvnb-input" autocomplete="off">
                      <label for="mvnb-input">Maven Version Name B</label>
                    </div>
                  </div>
                </div>
                <div id="search" class="col s12">
                  <input type="submit" class="btn waves-effect waves-light searchBtn" value="Search">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="dynCard" class="col s12">
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>